body,
div,
ul,
li,
p,
h1,
h2,
h3 {
  padding:0;
  margin:0;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.25;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

/* TODO: Replace with image later */
#header {
  background-color: slategrey;
  margin-top: 25px;
}

.center-content {
  padding: 2.5% 5%;
}

.clear-fix {
  overflow: auto;
  word-break: break-all;
}

h1 {
  font-size: 40px;
  color: #e88f3f;
  line-height: 48px;
  display: inline;
}

span {
  padding: 5px;
}

#role {
  color: #fff;
  padding-left: 1em;
}

[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

ul {
  list-style-type: none;
}

span {
  padding: 5px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.flex-item {
  padding: 0.15em 0;
}

.orange-text {
  color: #e88f3f;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

img {
  padding: 10px;
}

.biopic {
  float: left;
  width: 200px;
  display: none;
  margin-right: 20px;
  border: 1px solid #fff;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  color: #000;
  line-height: 22px;
  padding: 30px 2% 10px;
}

#skills-h3 {
  color: #e88f3f;
}

#skills li {
  line-height: 1.5;
  list-style-type: square;
  list-style-position: inside;
  color: #fff;
  margin-left: 20px;
}

#skills li span {
  position: relative;
}

.full {
  display: inline-block;
  position: absolute;;
  left: 100px;
  top: 8px;
  width: 300px;
  border-radius: 10px;
  background-color: #89cede;
  height: 1em;
  margin-left: 20px;
}

.real {
  display: inline-block;
  position: absolute;;
  left: 0;
  border-radius: 10px;
  background-color: #e88f3f;
  height: 1em;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

#workExperience {
  margin-top: 25px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 30px 2% 10px;
}

.work-entry,
.project-entry,
.education-entry {
  padding: 0 5% 15px;
}

a {
  color: #89cede;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.project-entry {
  position: relative;
}

.normal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 47.5%;
  margin-right: 5%;
  display: inline-block;
}

.normal:hover {
  cursor: zoom-in;
}

.normal:last-of-type {
  margin-right: 0;
}

.hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.show {
  display: block;
}

.show:hover {
  cursor: zoom-out;
}

#lets-connect {
  text-align: center;
  margin-top: 5%;
}

#lets-connect h2 {
  padding: 10px 2% 10px;
}

.dark-gray {
  background-color: slategrey;
}

.orange {
  background-color: #e88f3f;
}

@media only screen and (max-width: 770px) {
  #header {
    margin-top: 5px;
  }

  .biopic {
    width: 175px;
  }
  #skills-h3 {
    padding-top: 5px;
  }

  .full {
    width: 140px;
    left: 75px;
  }

  #workExperience {
    margin-top: 10px;
  }

  #lets-connect {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 500px) {
  #header {
    margin-top: 0;
  }

  .biopic {
    width: 150px;
  }

  #skills-h3 {
    padding-top: 5px;
  }

  #workExperience {
    margin-top: 5px;
  }

  .project-entry img {
    max-width: 100%;
    margin-right: 0;
  }

  #lets-connect {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 500px) {
  .biopic {
    display: block;
  }
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}
